$first-color: #e53d00;
$second-color: #046865;
$third-color: #21a0a0;
$fourth-color: #fcfff7;
$textsize: 15pt;
$font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$radius: 5%;
